/ARSACSoft/nbproject/private/
/ARSACSoftEmpleados/nbproject/private/
/ARSACSoftPedidos/nbproject/private/
/ARSACSoftPersonas/nbproject/private/
/ARSACSoftProductos/nbproject/private/
/ARSACSoftProveedores/nbproject/private/
/ARSACSoftComprasController/nbproject/private/
/ARSACSoftPedidosModel/nbproject/private/
/ARSACSoftComprasController/dist/
/ARSACSoftComprasController/build/
/ARSACSoftPedidosModel/build/
/ARSACSoftPedidosModel/dist/
/ARSACSoftEmpresaController/nbproject/private/
/ARSACSoftProductosController/nbproject/private/
/ARSACSoftEmpleadosController/nbproject/private/
/ARSACSoftProductosModel/nbproject/private/
/ARSACSoftProveedoresController/nbproject/private/
/ARSACSoftEmpresaModel/nbproject/private/
/ARSACSoftPedidosController/nbproject/private/
/ARSACSoftEmpresaModel/build/
/ARSACSoftEmpresaModel/dist/
/ARSACSoftComprasModel/nbproject/private/
/ARSACSoftMayoristaController/nbproject/private/
/ARSACSoftComprasModel/build/
/ARSACSoftComprasModel/dist/
/ARSACSoftProveedoresModel/nbproject/private/
/ARSACSoftMayoristaModel/nbproject/private/
/ARSACSoftEmpleadosModel/nbproject/private/
/ARSACSoftDBManager/nbproject/private/
/ARSACSoftProveedoresModel/build/
/ARSACSoftDBManager/dist/
/ARSACSoftProductosModel/build/
/ARSACSoftProductosModel/dist/
/ARSACSoftProveedoresModel/dist/
/ARSACSoftMayoristaModel/dist/
/ARSACSoftMayoristaModel/build/
/ARSACSoftEmpleadosModel/build/
/ARSACSoftEmpleadosModel/dist/
/ARSACSoftDBManager/build/
/ARSACSoft/build/
/ARSACSoft/dist/
/ARSACSoftEmpleadosController/build/
/ARSACSoftEmpleadosController/dist/
/ARSACSoftWebServices/nbproject/private/
/ARSACSoftWebServices/build/
/ARSACSoftWebServices/dist/
/ARSACSoftAlmacenController/nbproject/private/
/ARSACSoftAlmacenModel/nbproject/private/
/ARSACSoftRRHHController/nbproject/private/
/ARSACSoftRRHHModel/nbproject/private/
/ARSACSoftSedesController/nbproject/private/
/ARSACSoftSedesModel/nbproject/private/
/ARSACSoftRRHHModel/dist/
/ARSACSoftRRHHModel/build/
/ARSACSoftAlmacenController/build/
/ARSACSoftAlmacenModel/build/
/ARSACSoftAlmacenModel/dist/
/ARSACSoftAlmacenController/dist/
/ARSACSoftRRHHController/build/
/ARSACSoftRRHHController/dist/
/ARSACSoftSedesModel/build/
/ARSACSoftSedesController/build/
/ARSACSoftSedesModel/dist/
/ARSACSoftSedesController/dist/
/ArsacServiciosWeb/build/
/ArsacServiciosWeb/dist/
/ArsacServiciosWeb/nbproject/private/
/ARSACSoftServiciosWeb/nbproject/private/
/ARSACSoftServiciosWeb/build/
/ARSACSoftServiciosWeb/dist/
/ARSACSoftProveedoresController/build/
/ARSACSoftProveedoresController/dist/
/ARSACSoftOrdenesController/nbproject/private/


# Java
# Compiled class file
*.class

# Package Files #
*.war
*.ear

# Maven specific
target/

# Eclipse specific
.classpath
.project
.settings/

# IntelliJ specific
.idea/
*.iml
*.iws
out/

# C#
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio specific
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
obj/

# MonoDevelop specific
*.userprefs
# NuGet
packages/

# Xamarin Studio specific
*.userprefs
*.pidb
*.iOSDesigner.cs
*.iOSDesigner.csproj
*.mdb

# Unity3D specific
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/Assets/AssetStoreTools*

# Miscellaneous
/.idea/
*.swp
*~
*.tmp
*.bak
*.cache
*.log
*.DS_Store
*.tmp
*.sublime-project
*.sublime-workspace
Thumbs.db
UserInterfaceState.xcuserstate
ARSACSoft/obj/Debug/ARSACSoft.csproj.FileListAbsolute.txt
ARSACSoft/App.config
ARSACSoft/Connected Services/ProveedoresWS/ARSACSoft.ProveedoresWS.helloResponse.datasource
ARSACSoft/Connected Services/ProveedoresWS/ProveedoresWebService.wsdl
*.wsdl
/ARSACSoftProductosController/build/
/ARSACSoftProductosController/dist/
*.class
*.TXT
/ARSACSoftVentasModel/build/
/ARSACSoftVentasModel/dist/
/ARSACSoftVentasController/build/
/ARSACSoftVentasController/dist/
ARSACSoft/Connected Services/ProveedorWS/configuration.svcinfo
