<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="RRHHWSPortBinding" receiveTimeout="00:01:00" sendTimeout="00:01:00"
          maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="SedesWSPortBinding" receiveTimeout="00:01:00"
          sendTimeout="00:01:00" maxReceivedMessageSize="2147483647" />
        <binding name="ProveedoresWebServicePortBinding" />
        <binding name="ProductosWSPortBinding" />
        <binding name="AlmacenWSPortBinding" />
        <binding name="VentasWSPortBinding" />
        <binding name="ProveedoresWSPortBinding" />
        <binding name="ProveedoresWSPortBinding1" />
        <binding name="AlmacenWSPortBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8080/ARSACSoftWebServices/RRHHWS"
        binding="basicHttpBinding" bindingConfiguration="RRHHWSPortBinding"
        contract="RRHHWS.RRHHWS" name="RRHHWSPort" />
      <endpoint address="http://localhost:8080/ARSACSoftWebServices/ProveedoresWebService"
        binding="basicHttpBinding" bindingConfiguration="ProveedoresWebServicePortBinding"
        contract="ProveedoresWS.ProveedoresWebService" name="ProveedoresWebServicePort" />
      <endpoint address="http://localhost:8080/ARSACSoftWebServices/Productos"
        binding="basicHttpBinding" bindingConfiguration="ProductosWSPortBinding"
        contract="ProductosWS.ProductosWS" name="ProductosWSPort" />
      <endpoint address="http://localhost:8080/ARSACSoftWebServices/SedesWS"
        binding="basicHttpBinding" bindingConfiguration="SedesWSPortBinding"
        contract="SedeWS.SedesWS" name="SedesWSPort" />
      <endpoint address="http://localhost:8080/ARSACSoftWebServices/AlmacenWS"
        binding="basicHttpBinding" bindingConfiguration="AlmacenWSPortBinding"
        contract="AlmacenesWS.AlmacenWS" name="AlmacenWSPort" />
      <endpoint address="http://localhost:8080/ARSACSoftWebServices/VentasWS"
        binding="basicHttpBinding" bindingConfiguration="VentasWSPortBinding"
        contract="VentasWS.VentasWS" name="VentasWSPort" />
      <endpoint address="http://localhost:8080/ARSACSoftWebServices/ProveedoresWS"
        binding="basicHttpBinding" bindingConfiguration="ProveedoresWSPortBinding"
        contract="ServiceReference1.ProveedoresWS" name="ProveedoresWSPort" />
      <endpoint address="http://localhost:8080/ARSACSoftWebServices/ProveedoresWS"
        binding="basicHttpBinding" bindingConfiguration="ProveedoresWSPortBinding1"
        contract="ProveedorWS.ProveedoresWS" name="ProveedoresWSPort1" />
      <endpoint address="http://localhost:8080/ARSACSoftWebServices/AlmacenWS"
        binding="basicHttpBinding" bindingConfiguration="AlmacenWSPortBinding1"
        contract="AlmacenWS.AlmacenWS" name="AlmacenWSPort1" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  <system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.118.0" newVersion="1.0.118.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>